body{
     margin: 0;
     padding: 0;
     font-family: monospace;
     background: linear-gradient(120deg, #2980b9, #712492);
     height: 100vh;
     overflow: hidden;
}
.center{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50% );
     text-align: center;
     width: 400px;
     background: linear-gradient(120deg, #b92929, #243892);
     border-radius: 20px;
}
.center h1{
     text-align: center;
     padding: 0 0 20px 0;
     border-bottom: 1px solid silver;
}
.center form{
     padding: 0 40px;
}
form .txt_field{
     position: relative;
     border-bottom: 2px solid #adadaa;
     margin: 30px 0;

}
.txt_field input{
     width: 100%;
     padding: 0 5px;
     height: 20px;
     font-size: 16px;
     border: none;
     background: none;
     outline: none;

}
.txt_field label{
     position: absolute;
     top: 50%;
     left: 5px;
     color: #adadaa;
     transform: translateY(-200%);
     font-size: 16px;


}
input[type="submit"]{
     width: 80%;
     height: 40px;
     border: 1px solid;
     background: #632aa3;
     border-radius: 25px;
     font-size: 18px;
     color: beige;
     font-weight: 700;
     cursor: pointer;
     outline: none;


}
a{
     font-size: 16px;
     background-color: #243892;
     border-radius: 10px;
     color: blanchedalmond;
}